version: "3.7"

services:
  postgresql:
    image: postgres:14-alpine
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ports:
      - 5432:5432
    networks:
      - mge-network

  rabbitmq:
    image: rabbitmq:management 
    container_name: rabbitmq
    ports:
      - "5672:5672" 
      - "15672:15672" 
    environment:
      - RABBITMQ_DEFAULT_USER
      - RABBITMQ_DEFAULT_PASS
    networks:
      - mge-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - mge-network

  database-api:
    image: ghcr.io/thiendo/mge/database-build:0.1.0
    build:
      context: .
      dockerfile: ./Devops/Dockerfile/database-build
    ports:
      - "12000:12000"
    environment:
    depends-on:
      - postgre
      - rabbitmq
    restart: always
    networks:
      - mge-network
    
  identity-api:
    image: ghcr.io/thiendo/mge/identity-build:0.1.0
    build:
      context: .
      dockerfile: ./Devops/Dockerfile/identity-build
    ports:
      - "12001:12001"
    environment:
    depends-on:
      - postgre
      - rabbitmq
    restart: always
    networks:
      - mge-network

  order-api:
    image: ghcr.io/thiendo/mge/order-build:0.1.0
    build:
      context: .
      dockerfile: ./Devops/Dockerfile/order-build
    ports:
      - "12002:12002"
    environment:
    depends-on:
      - postgre
      - rabbitmq
    restart: always
    networks:
      - mge-network

  inventory-api:
    image: ghcr.io/thiendo/mge/inventory-build:0.1.0
    build:
      context: .
      dockerfile: ./Devops/Dockerfile/inventory-build
    ports:
      - "12003:12003"
    environment:
    depends-on:
      - postgre
      - rabbitmq
    restart: always
    networks:
      - mge-network

  shipping-api:
    image: ghcr.io/thiendo/mge/shipping-build:0.1.0
    build:
      context: .
      dockerfile: ./Devops/Dockerfile/shipping-build
    ports:
      - "12004:12004"
    environment:
    depends-on:
      - postgre
      - rabbitmq
    restart: always
    networks:
      - mge-network

networks:
  mge-network: