# .github/workflows/deploy-api.yml

name: Deploy API Template

env:
  AZURE_CONTAINER_REGISTRY: demoazurethiendo

on:
  workflow_call:
    inputs:
      image-name: 
        required: true
        type: string
      dockerfile-path: 
        required: true
        type: string
      dependency-jobs: 
        required: false
        type: string
        default: '[]'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io
          username: ${{ secrets.AZURE_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_REGISTRY_PASSWORD }}

      - name: Build and push ${{ inputs.image-name }} image to ACR
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ inputs.image-name }}:${{ github.sha }}
          file: ${{ inputs.dockerfile-path }}